@import "../mixins/variables/variables";

.checkoutMain {
  width: 100vw;
  padding: 15px;

  .headingContainer {
    width: 100%;
  }

  .cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .cartItemContainer {
      width: 100%;
      display: flex;
      gap: 20px;

      .cartItemImg {
        width: 50%;
      }

      .cartItemInfoConatiner {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        width: 50%;

        .cartItemTopInfoContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .iconsContainer {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }

        .cartItemInfo {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .handleQty {
          display: flex;
          align-items: end;
          justify-content: center;
          height: 40%;
          gap: 20px;

          .displayQty {
            background-color: rgb(218, 222, 232);
            width: 50px;
            text-align: center;
          }

          .qtyHandlers {
            font-size: 15pt;
            cursor: pointer;
          }
        }
      }
    }
  }

  .proceedCheckoutContainer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .totalPriceContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      padding: 10px 30px 10px 30px;
      font-size: 12pt;
      border-radius: 5px;
      box-shadow: $softShadow;
      border: 0;
    }
  }
}
