$lightGreen: #b5d5c5;
$orange: #febe8c;
$pink: #ffe1e1;

$softShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$logoFont: "Jomolhari", serif;

$lgFontSize: 0;

$mdFontSize: 20pt;
$smFontSize: 0;

$xsFontSize: 0;
