@import "../../mixins/variables/variables";
@import "../../mixins/viewportSizes/viewportSizes";
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");

header {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  //margin-bottom: 40px;

  /*  @include phone-level-3 {
    margin-bottom: 10px;
  }

  @include tablet-level-1 {
    margin-bottom: 50px;
  }
  @include tablet-level-2 {
    margin-bottom: 50px;
  }

  @include desktop-level-3 {
    margin-bottom: 70px;
  } */

  .firstRow {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logoMenuContainer {
      margin-left: 20px;
      height: 100%;
      display: flex;
      align-content: center;

      .hamburgerContainer {
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        cursor: pointer;

        @include tablet-level-1 {
          display: none;
        }
        .hamburger {
          width: 40px;
          height: 3px;
          background-color: $lightGreen;
        }
      }

      .logoContainer {
        display: flex;
        align-items: center;
        font-family: $logoFont;
        font-size: 19pt;
        margin-left: 20px;

        @include tablet-level-1 {
          margin-left: 0;
        }

        h1 {
          margin: 0;
        }
      }
    }

    .searchBarContainer {
      display: none;

      @include phone-level-3 {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 20px;

        input {
          width: 250px;
          height: 20px;
          border-radius: 10px;
          border: none;
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }

    .iconsContainer {
      margin-right: 20px;

      height: 100%;
      display: flex;
      gap: 27px;
      align-items: center;

      .bi {
        font-size: 20pt;
        color: black;
        cursor: pointer;
      }
      .bi-heart {
        color: $pink;
      }
    }
  }

  .secondRow {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;

    .searchBarContainer {
      @include phone-level-3 {
        display: none;
      }
      input {
        width: 250px;
        height: 20px;
        border-radius: 10px;
        border: none;
        background-color: rgba(0, 0, 0, 0.25);
        // margin-top: 10px;

        @include phone-level-2 {
          width: 300px;
        }
      }
    }

    .bigScreenMenuContainer {
      display: none;

      @include tablet-level-1 {
        width: 100%;
        margin: 20px 60px 0 60px;
        display: flex;
        flex-direction: column;

        @include desktop-level-2 {
          width: 80%;
        }

        @include desktop-level-3 {
          margin-top: 40px;
          width: 70%;
        }

        .bigScreenMenuLinksContainer {
          display: flex;
          justify-content: space-between;

          .menuLinkContainer {
            font-family: "Quicksand", sans-serif;
            cursor: pointer;

            .mainLink,
            .mainLinkHover {
              font-size: 11pt;

              @include tablet-level-2 {
                font-size: 14pt;
              }

              @include desktop-level-3 {
                font-size: 15pt;
              }
            }

            .mainLinkHover {
              color: $lightGreen;
              text-decoration: 2px underline $orange;
            }
          }
        }

        .bigScreenMenuUnderCategoriesContainer {
          display: flex;
          justify-content: center;
          gap: 100px;
          margin-top: 40px;

          .underCategoryWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            color: black;
            text-decoration: none;

            i {
              font-size: 14pt;
            }

            .underCategoryTitle {
              font-size: 9pt;
            }
          }
        }
      }
    }
  }
}
