@import "../../mixins/variables/variables";
@import "../../mixins/viewportSizes/viewportSizes";
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");

header {
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @include tablet-level-2 {
    margin-bottom: 50px;
  }

  @include desktop-level-3 {
    margin-bottom: 70px;
  }

  .firstRow {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include tablet-level-2 {
      margin-top: 10px;
    }

    @include desktop-level-3 {
      margin-top: 20px;
    }
    .logoMenuContainer {
      margin-left: 20px;
      height: 100%;
      display: flex;
      align-content: center;

      .hamburgerContainer {
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        cursor: pointer;

        @include tablet-level-1 {
          display: none;
        }
        .hamburger {
          width: 40px;
          height: 3px;
          background-color: $lightGreen;
        }
      }

      .logoContainer {
        display: flex;
        align-items: center;
        font-family: $logoFont;
        font-size: 19pt;
        margin-left: 20px;
      }
    }

    .searchBarContainer {
      display: none;

      @include phone-level-3 {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 20px;

        input {
          width: 250px;
          height: 20px;
          border-radius: 10px;
          border: none;
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }

    .iconsContainer {
      margin-right: 20px;

      height: 100%;
      display: flex;
      gap: 27px;
      align-items: center;

      .bi {
        font-size: 20pt;
        color: black;
      }
      .bi-heart {
        color: $pink;
      }
    }
  }

  .secondRow {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;

    .searchBarContainer {
      @include phone-level-3 {
        display: none;
      }
      input {
        width: 250px;
        height: 20px;
        border-radius: 10px;
        border: none;
        background-color: rgba(0, 0, 0, 0.25);
        margin-top: 10px;

        @include phone-level-2 {
          width: 300px;
        }
      }
    }

    .bigScreenMenuContainer {
      display: none;
      @include tablet-level-1 {
        width: 100%;
        margin: 25px 60px 0 60px;

        @include desktop-level-2 {
          margin-top: 20px;
          width: 80%;
        }

        @include desktop-level-3 {
          margin-top: 40px;
          width: 70%;
        }

        display: flex;
        justify-content: space-between;

        .menuLinkContainer {
          font-family: "Quicksand", sans-serif;
          cursor: pointer;

          .mainLink,
          .mainLinkHover {
            font-size: 11pt;

            @include tablet-level-2 {
              font-size: 14pt;
            }

            @include desktop-level-3 {
              font-size: 15pt;
            }
          }

          .mainLinkHover {
            color: $lightGreen;
            text-decoration: 2px underline $orange;
          }
        }
      }
    }
  }
}
