@import "../../mixins/variables/variables";

.hideMenuModal {
  display: none;
}

.menuModal {
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.5) 200px 0px 0px;
  z-index: 100;
  display: block;
  position: fixed;
  background-color: white;
  width: 80%;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;

  display: flex;
  flex-direction: column;

  .headingMenuModalContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menuModalHeading {
      font-size: 17pt;
      color: $lightGreen;
    }

    .bi-x-lg {
      cursor: pointer;
    }
  }
  .menuModalLinksContainer {
    display: flex;
    flex-direction: column;

    .menuModalLinkContainer {
      display: flex;
      flex-direction: column;

      .linkUpperLevelContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .upperCategoryTitle {
          cursor: pointer;
        }

        .bi-chevron-down,
        .bi-chevron-up {
          cursor: pointer;
        }
      }

      .underCategoryContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-left: 20px;
        padding-bottom: 15px;
        border-bottom: 2px solid $orange;
        .underCategoryTitle {
          cursor: pointer;
          font-size: 9pt;
          margin: 0;
        }
      }
    }
  }
}
