@import "../../mixins/variables/variables";
@import "../../mixins/viewportSizes/viewportSizes";

.footerContainer {
  width: 100vw;
  height: 520px;
  background-color: $lightGreen;
  margin-top: 100px;
  color: white;
  display: flex;
  flex-direction: column;

  .footerHeadingsRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    .footerIconContainer,
    .footerHeaderContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footerIconContainer {
      font-size: 40pt;
      margin-top: 30px;
    }

    .footerHeaderContainer {
      font-family: $logoFont;
      margin-top: 5px;

      .footerHeader {
        font-size: 20pt;
      }
    }

    .footerLinkIconsContainer {
      width: 100%;
      margin-top: 5px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      font-size: 20pt;
    }
  }

  .footerInfoRow {
    width: 100%;
    margin: 0;
    display: flex;
    margin-top: 30px;

    justify-content: space-between;

    .footerInfoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .infoHeading {
        font-size: 17pt;
        margin-bottom: 20px;
      }

      .infoUnderCategoryContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 8pt;

        @include desktop-level-0 {
          font-size: 10pt;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .footerSubscribeRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    margin-top: 30px;

    .footerSubscribeHeading {
      text-align: center;
      margin-bottom: 15px;
      font-size: 17pt;
    }

    .footerSubInput {
      width: 300px;
      border: none;
      box-shadow: $softShadow;
      border-radius: 2px;
    }

    .footerSubButton {
      margin-top: 15px;
      background-color: $pink;
      box-shadow: $softShadow;
      border-radius: 10px;
      width: 110px;
      height: 35px;
      border: none;
    }
  }
}
